.container
  %p
    Hello #{@user_email.titleize}
  %p
    = succeed "." do
      %strong Welcome to Maropost
  %p
    = succeed "." do
      %strong Here is your dummy password #{@user_password}  you can change it after login into your account.
  %p
    = succeed "." do
      Experience the power of Maropost Marketing Cloud’s 1-to-1 digital marketing capabilities firsthand.
  %p
    Thank you!
  %p
    Team Maroposts