.container
  .row
    .col-md-6
      = form_for(@gallery, class: "form-horizontal") do |f|
        - if @gallery.errors.any?
          #error_explanation
            %ul
              - @gallery.errors.messages.each do |k, v|
                %li= v[0]

        .form-group
          %label.control-label Name
          = f.text_field :name, placeholder: "enter name", autocomplete: "off", class: "form-control"
        .form-group
          = f.label :attachment, class: "control-label"
          = f.file_field :attachment, class: "form-control"
        .actions
          = f.submit "Submit", class: "btn btn-primary"